/* Base Layer */
@import "./css/base/variables.css";
@import "./css/base/base.css";
@import "./css/base/theme.css";

/* Components Layer */
@import "./css/components/buttons.css";
@import "./css/components/cards.css";
@import "./css/components/forms.css";
@import "./css/components/cookie-banner.css";
@import "./css/components/floating-buttons.css";

/* Layout Layer */
@import "./css/layout/header.css";
@import "./css/layout/footer.css";

@tailwind base;
@tailwind components;
@tailwind utilities;